.box {
    width: 100%;
    height: 50%;
    background-color:aqua;
    border: 1px solid #0f0f0f;
    font-size: 16px;
    font-weight: bold;
    text-align: left;

}

.sidebar-container {
    width:  500px;
    height: 500px;
    background-color: rgb(109, 190, 204);
    border: 1px solid #0f0f0f;
    padding-top: 12px;
    font-size: 24px;
    flex-direction: row;
}

 /* Fonts */
 
/**footbar */
.footbar {
    width: 100%;
    height:  100%;
    background-color: #fff23f;
    border: 1px solid #0f0f0f;

}
